<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    </head>
    <body>
    <h3><b> Information About 1006 Assignments </b></h3> 
    <ul>
        <li>  Homework 1A: The purpose was to practice binary numbers, algorithms, and truth tables. </li>
        <li>  Homework 1B: The purpose was to create our first standard program and practice python list operations. </li>
        <li>  Homework 2A: The purpose was to understand search techniques and time complexity. </li>
        <li>  Homework 2B: The purpose was to create a Simulation for projectile motion. </li>
        <li>  Homework 3A: The purpose was to write pseudocode and practice recursion  </li>
        <li>  Homework 3B: The purpose was to work on Percolation Theory and create an interesting module about water passage. </li>
        <li>  Homework 4: The purpose was to work on object oriented programming in the context of a class. </li>
        <li>  Homework 5: The purpose was to use scikit learn, implement the K nearest neighbor algorithm and use pandas to analyze a data set.  </li>
        <li>  Midterm: The purpose was to create various filters and implement them to image files. </li>
        <li>  Final: The purpose was to practice flask, html, and git to create a webpage with links and information. </li>
        <li>  <b>Favorite Assignment: My favorite assignment was easily the midterm. It took me the most amount of time and made me feel really accomplished when I finally figured it out. This really helped with the severe imposter syndrome I have when it comes to coding. </b></li>
    </ul>
    </body>
</html>

