<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    </head>
    <body>
    <h3><b> Information About Sophomore Spring Classes </b></h3> 
    <ul>
        <li>  Class 1: Python </li>
        <li>  Class 2: Religion and Hip Hop </li> 
        <li>  Class 3: Applied Mathematics </li>
        <li>  Class 4: Introduction to Biology </li>
        <li>  Class 5: Introduction to Philosophy </li>
        <li><b>  Favorite Class: My favorite class was probably Philosophy. This was my first Philosophy class and it really opened my mind up to what the field offers. It led me to add a philosophy minor to my academic journey. </b></li>
    </ul>
    </body>
</html>

